.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
  font-family: "poppins";
  font-weight: 600px;
}

.texto-medio {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "roboto";
  font-weight: 400px;
}
